{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "loujinha/css/list.css" %}">
    <title>Document</title>
</head>
<body>
    <h1>Produtos</h1>
    <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.name }}</strong><br>
                Preço: R$ {{ product.price }}<br>
                Descrição: {{ product.description }}<br>
                Categoria: {{ product.category }}<br>
                Quantidade: {{ product.quantity }} unidades
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'loujinha:add_product' %}">Adicionar mais produtos</a>
</body>
</html>