{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'loujinha/css/style.css' %}">
</head>
<body>
    <div class="container success">
        <h1>Product Added Successfully!</h1>
        <a href="{% url 'loujinha:add_product' %}" class="button">Add Another Product</a>
        <a href="{% url 'loujinha:list_products' %}" class="button">Go to Inventory</a>
    </div>
</body>
</html>
