<header class="main-header-container">
    <div class="main-header container">
        <h1>
            <a href="{% url 'loujinha:home'%}" class="main-title">
                <span class="main-title">Loujinha</span>
            </a>
        </h1>

        <div class="search-container">
            <div class="container">
                <form action="" class="search-form">
                    <input type="text" class="search-input" name="search">
                    <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>

        <nav class="navbar-container">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Add Product</a></li>
                <li><a href="">Inventory</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>
</header>