<header class="main-header-container">
    <div class="main-header container">
        <h1>
            <a href="{% url 'loujinha:home'%}" class="main-title">
                <span class="main-title">Loujinha</span>
            </a>
        </h1>
        <nav class="navbar-container">
            <ul>
                <li>Home</li>
                <li>Cadastrar Produtos</li>
                <li>Gerenciar Estoque</li>
                <li>Catalogar Produtos</li>
                <li>Monitorar</li>
            </ul>
        </nav>
    </div>
</header>