<div class="product product-list-item">
    <div class="product-cover">
        <a href="">
            <img src="{{ product.cover.url }}" alt="itstemporary">
        </a>
    </div>
    <div class="product-title-container">
        <h2 class="product-title">{{ product.title }}</h2>
    </div>
    <div class="product-author">
        <span class="product-author-item">
            {{ product.author.first_name }} {{ product.author.last_name }}
        </span>

        <span class="product-author-item">
            {{product.created_at|date:"d/m/Y"}} às {{product.created_at|date:"H:i"}}
        </span>

        <span class="product-author-item">
            <a href="/products/category/eletronicos/">
                <span>{{ product.category.name }}</span>
            </a>
        </span>
    </div>

    <div class="product-content">
        <p>{{ product.description }}</p>
    </div>

    <div class="product-price">
        <p>{{ product.price }}</p>
    </div>

    <div class="product-quantity">
        <p>{{ product.quantity }}</p>
    </div>

    <footer class="product-footer">
        <a class="product-more-details button button-dark button-full-width" href="">
            <span>ver mais...</span>
        </a>
    </footer>
</div>